body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #fff;
}

.logo {
    font-family: "Open Sans";
    font-size: 24px;
    color: #d3206b;
    font-weight: bold;
}

header nav {
    width: 80%;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: end;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #888;
    font-size: 18px;
    font-family: "Avenir";
    font-weight: 400;
}

nav ul li a:hover, nav ul li .selected {
    color: #d3206b;
}

.button {
    background-color: #3a6b35;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    font-family: "Avenir";
}

.button:hover {
    background-color: #2f5a28;
}

main {
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    display: flex;
    align-items: center;
    gap: 40px;
    max-width: 1200px;
}

.text-content {
    flex: 1;
}

.text-content h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
    font-family: "Avenir";
}

.highlight {
    color: #d3206b;
    font-weight: bold;
}

#panel-text {
    margin: 10rem 0 1rem 0;
}

.text-content p {
    margin: 20px 0;
    color: #666;
    line-height: 1.6;
    font-size: 16px;
    font-family: "Avenir";
}

.Snap {
    position: absolute;
    top: 30rem;
    width: 75px;
    height: 100px;
    border-top: 10px solid #386E41;
    border-right: 10px solid #386E41;
    border-bottom: 10px solid #386E41;
}

.search-section {
    margin-top: 10px;
}

.search-section label {
    display: block;
    margin-bottom: 180px;
    color: #333;
    font-size: 14px;
}

.panel-container {
    background-color: #3e704d;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    gap: 15px;
    align-items: center;
    width: 70%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    max-width: 1165px;
}

.dropdowns {
    width: 83%;
}

.dropdowns select {
    padding: 10px 0;
    font-size: 16px;
    color: white;
    border: none;
    font-family: "Avenir";
    background-color: unset;
    border-bottom: solid 2px white;
    min-width: 25%;
    margin-right: 4rem;
}

.search-button {
    font-family: "Avenir";
    background-color: #e91e63;
    color: #fff;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-left: auto;
}

.search-button:hover {
    background-color: #c2185b;
}

.image-content {
    flex: 1;
    text-align: center;
    position: relative;
}

.image-content img {
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
    z-index: 1;
}

.footer {
    width: 100%;
    text-align: center;
    padding: 20px 0;
}

.footer-content {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer p {
    margin: 0;
    font-size: 16px;
    color: #333;
    font-family: "Avenir";
}

.arrow-down {
    margin-top: 5px;
}
