* {
  padding: 0;
  margin: 0;
  font-family: "Inter";
  font-weight: 400;
  font-size: 1em;
  box-sizing: border-box;
}

html {
  background-color: pink;
  text-align: center;
}
body {
  text-align: start;
  padding: 40px 30px 0 30px;
  display: inline-block;
  max-width: 500px;
  min-width: 350px;
  min-height: 650px;
  background-color: white;
  border-radius: 15px;
}
.header {
  width: 100%;
  margin-bottom: 30px;
}
.site-nav {
  width: 30px;
  height: 30px;
}

h1 {
  font-size: 2.5em;
  font-weight: 600;
  margin-left: -10px;
}
search {
  margin: 20px 0 20px 0;
}
.search-form {
  background-color: rgb(236, 236, 236);
  height: 45px;
  border-radius: 20px;
}

.search-area {
  border-radius: 20px;
  padding: 0 20px 0 20px;
  width: 100%;
  height: 100%;
  background-color: rgb(236, 236, 236);
  color: rgb(96, 95, 95);
  border: 0;
}

.nav-food-menu {
  margin: 10px 0 20px 0;
}

.food-menu-list {
  list-style: none;
  font-size: 0;
  text-align: start;
}

.food-menu-category {
  display: inline-block;
  height: 100px;
  margin: 0 20px 0 0;
}

.food-menu-category-active {
  display: inline-block;
  height: 100px;
}

.food-category-wrapper {
  width: 74px;
  height: 74px;
  background-color: rgb(236, 236, 236);
  border-radius: 12px;
  padding: 25%;
}

.food-menu-category-active .food-category-wrapper {
  background-color: rgb(225, 212, 166);
}

.food-menu-category a {
  display: block;
  text-decoration: none;
  color: black;
  text-align: center;
}
.food-category-name {
  font-weight: 550;
  font-size: medium;
  margin: 7px 0 0 0;
}

.food h2 {
  font-size: 1.2em;
  font-weight: 600;
  margin-left: -10px;
  color: rgb(46, 80, 112);
  margin-bottom: 20px;
}

.food-card {
  border: 1px solid rgb(235, 235, 235);
  border-radius: 10px;
  margin-bottom: 8px;
  box-shadow: 0px 0px 4px 0px rgb(230, 230, 230);
}
.food-card > * {
  display: inline-block;
  vertical-align: middle;
}
.card-text-wrapper > * {
  display: block;
}
.food-name {
  padding: 0 0 5px 0;
  color: rgb(46, 80, 112);
}
.food-price {
  color: rgb(255, 53, 53);
  font-size: small;
}

.food-price::before {
  content: "Rs ";
}
