* {
    padding: 0;
    margin: 0;
    font-family: "Inter";
    font-weight: 400;
    font-size: 1em;
    box-sizing: border-box;
}

html {
        background-image: url(img/Stranger_things_background.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    text-align: center;
}

body {
    text-align: start;
    margin-top: 90px;
    margin-left: 25px;
    padding: 0px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1500px;
    min-width: 350px;
    min-height: 550px;
    width: 1200px;
    border-radius: 15px;
    overflow: auto;
}
.stranger-genre {
    text-align: left;
    position: relative;
    bottom: 5px;
    color: rgb(255, 255, 255);
    font-family: IBM Plex Sans;
    font-size: 24px;
    font-weight: 22px;
    line-height: 80px;
    letter-spacing: -0.5px;
    right: 190px;
}
h1 {
    text-align: left;
    position: relative;
    bottom: 45px;
    color: rgb(255, 255, 255);
    font-family: IBM Plex Sans;
    font-size: 48px;
    font-weight: 400;
    line-height: 80px;
    letter-spacing: -0.5px;
    right: 190px;
}

h3 {
    position: relative;
    width: 100%;
    max-width: 695px;
    height: 80px;
    color: rgb(251, 250, 252);
    font-family: IBM Plex Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0px;
    text-align: left;
}
.Netflix-img{
position: relative;   
height: 45px;
right: 180px;
bottom: 70px;
}
.date{
    position: relative;
    text-align: left;
    color: rgb(251, 250, 252);
    font-family: IBM Plex Sans;
    bottom: 100px;
}
.movie-container {
position: relative;
    justify-content: center;
    top: 200px;

}

.movie-category-wrapper {
    display: flex;
    gap: 20px;
}

.movie-poster-class {
    width: 150px;
    height: auto;
    border-radius: 12px;
}


