* {
    padding: 0;
    margin: 0;
    font-family: "Inter";
    font-weight: 400;
    font-size: 1em;
    box-sizing: border-box;
}

html {
    background-image: url(img/Stranger_things_background.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
}

body {
    text-align: start;
    margin-top: 90px;
    margin-left: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 900px;
    min-width: 250px;
    min-height: 450px;
    width: 1200px;
    border-radius: 15px;
    overflow: auto;
}

.stranger-genre {
    position: relative;
    bottom: 5px;
    color: rgb(255, 255, 255);
    font-family: IBM Plex Sans;
    font-size: 24px;
    font-weight: 23px;
    line-height: 80px;
    letter-spacing: -0.5px;
    right: 450px;
}
.Age-raiting {
position: relative;
left: 850px;
top: 450px;
z-index: 2;

}
.stranger-description {
    position: relative;
    bottom: 5px;
    color: rgb(167, 166, 166);
    font-family: Inter;
    font-size: 18px;
    font-weight: 10px;
    letter-spacing: 0%;
    right: 350px;
}
.stranger-description p {
    width: 500px; 
    line-height: 1.5; 
    margin: 0 auto;
    overflow: hidden; 
    text-overflow: ellipsis; 
  }
  .movie-info {
    display: flex; 
    gap: 20px; 
    align-items: center; 
  }
  
  .stars{
position: relative;
right:530px;
top: 110px;

  }
  .movie-info span {
    position: relative;
    color: rgb(167, 166, 166);
    font-family: Inter;
    font-size: 18px;
    letter-spacing: 0%;
    right: 390px;
    bottom: 20px;
    
  }
  
  .movie-info span strong {
    color: rgb(255, 255, 255);
    font-weight: bold; 
  }
  
h1 {
    text-align: left;
    position: relative;
    bottom: 45px;
    color: rgb(255, 255, 255);
    font-family: IBM Plex Sans;
    font-size: 48px;
    font-weight: 400;
    line-height: 80px;
    letter-spacing: -0.5px;
    right: 440px;
}

h3 {
    position: relative;
    width: 100%;
    max-width: 695px;
    height: 80px;
    color: rgb(251, 250, 252);
    font-family: IBM Plex Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0px;
    text-align: left;
}

.Netflix-img {
    position: relative;
    height: 45px;
    right: 500px;
    bottom: 70px;
}

.date {
    position: relative;
    text-align: left;
    color: rgb(251, 250, 252);
    font-family: IBM Plex Sans;
    bottom: 100px;
    right: 350px;
}
.Popular-Films{
    position: relative;
    width: 100%;
    max-width: 695px;
    height: 80px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 22px;
    font-weight: 800;
    line-height: 144.52%;
    letter-spacing: 13.5%;
    text-align: left;
    top: 30px;
}
.movie-container {
    position: relative;
    justify-content: center;
    top: 50px;
    right: 175px;
}

.movie-category-wrapper {
    display: flex;
    gap: 20px;
}

.movie-poster-class {
    width: 150px;
    height: auto;
    border-radius: 12px;
}

