body{
    background-color: pink;
}
.box{
background-color: rgb(255, 255, 255);
border-radius: 20px; 
width: 400px;
height:820px;
margin: 0 auto;
}
.d1 {
    background-color: rgb(255, 255, 255);
    border-radius: 20px; 
}
.Foods
{
    padding-left: 6px;
    padding-top: 8px;
}
.d1 input {
    width: 300px;
    height: 42px;
    border: 2px solid rgb(247, 247, 247);
    border-radius: 10px; 
    color: rgb(59, 59, 59);
    background-color: rgb(226, 223, 223);
    margin-left: 2em;

}
.Food-Block
{
    display: inline-block;
}

.Drinks-Block
{
    display: inline-block;
}

.Desert-Block
{
    display: inline-block;
}

.Big-Mac-Box {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px -1px 10px 0px rgb(185, 184, 184);
    border-radius: 20px; 
    margin-top: 23px ;
    margin-left: 5px;
}

.KFC-Double-Box {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px -1px 10px 0px rgb(185, 184, 184);
    border-radius: 20px; 
    margin-top: 23px ;
    margin-left: 5px;

}
.Fish-Burger-Box {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px -1px 10px 0px rgb(185, 184, 184);
    border-radius: 20px; 
    margin-top: 23px ;
    margin-left: 5px;
}
.Menu{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    font-weight: 400;
    padding-left: 0.5em;
}
.Food {
    font-family:Andale Mono, monospace;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.Drinks {
    font-family:Andale Mono, monospace;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}
.Desert {
    font-family:Andale Mono, monospace;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.Burger {
    font-family:Bradley Hand, cursive;
    font-size: 20px;
    font-weight: 400;
    margin-left: 1em;
}

.Main-Burger {
    margin: 0 auto;
}
.Names {
    display: inline-block;
}

.Price{
    font-family:Gill Sans, sans-serif;
    color: red;
    font-size: 14px;
    font-weight: 350;
    border-radius: 20px; 
    
}   
.Burger-name{
    font-family:Bradley Hand, cursive;
    font-size: 20px;
    font-weight: 400;
    display: inline-block;
}
img[alt="Home"] {
    top: 1px; 
    left: 5px; 
    width: 70px;
    height: auto;

}
img[alt="Dessert-alt"] {
    top: 250px; 
    left: 30px; 
    width: 120px;
    height: auto;

}
img[alt="Food-alt"] {
    top: 250px; 
    left: 30px; 
    width: 120px;
    height: auto;

}
img[alt="Drinks-alt"] {
    top: 250px; 
    left: 30px; 
    width: 120px;
    height: auto;

}
img[alt="Food-alt"] {
    top: 250px; 
    left: 30px; 
    width: 120px;
    height: auto;

}
img[alt="Burger-img"] {
    width: 70px;
    height: auto;
}